.footer {
    .social-links {
        background-color: #212121;
    }

    .footer-links hr {
        width: 80px;
        height: 5px;
    }

    .copyright-info {
        background-color: #212121;
    }
}