.box {
    position: relative;
    overflow: hidden;

    img{
        transition: all 1s;
    }
    .info {
        background-color: rgba($primary, 0.75);
        opacity: 0;
        transition: all 1s;
    }

    &:hover{
        img{
            transform: scale(1.5);
        }
        .info{
            opacity: 1;
        }
    }
}